body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

* {
	box-sizing: border-box;
}
.contents_table {
	float: left;
	width: 20%;
}
.menuitem {
	padding: 8px;
	margin-top: 7px;
	border-bottom: 1px solid #f1f1f1;
}
.main {
	float: left;
	width: 60%;
	padding: 0 20px;
	overflow: hidden;
}
.secondary {
	background-color: lightblue;
	float: left;
	width: 20%;
	padding: 10px 15px;
	margin-top: 7px;
}

@media only screen and (max-width:800px) {
	/* tablet */
	.main {
		width: 80%;
		padding: 0;
	}
	.secondary {
		width: 100%;
	}
}
@media only screen and (max-width:500px) {
	/* mobile */
	.contents_table, .main, .secondary {
		width: 100%;
	}
}
