body {
	background-color: #f1f1f1;
	font-family: Verdana;
	font-size: 12px;
	padding: 15px;
	margin: 0;
}
* {
	box-sizing: border-box;
}

.title {
	background-color: #f1f1f1;
	padding: 15px;
	
	/**** for debugging purposes ****/
	border-style: solid;
	border-color: #e3a9a3;
	/********************************/
}
.menu {
	float: left;
	width: 20%;
	
	/**** for debugging purposes ****/
	border-style: solid;
	border-color: #d98057;
	/********************************/
}
.menu_item {
	padding: 8px;
	margin-top: 7px;
	/* border-bottom: 1px solid #f1f1f1; */
	
	/**** for debugging purposes ****/
	border-style: solid;
	border-color: #e3ca84;
	/********************************/
}
.main {
	float: left;
	width: 60%;
	padding: 1px 20px;
	overflow: hidden;
	
	/**** for debugging purposes ****/
	border-style: solid;
	border-color: #b6e384;
	/********************************/
}
.side_div {
	background-color: #9e9e9e;
	float: left;
	width: 20%;
	padding: 10px 15px;
	margin-top: 7px;
	
	/**** for debugging purposes ****/
	border-style: solid;
	border-color: #83d696;
	/********************************/
}
.side_div a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #cc95bf;
  display: block;
}

.side_div a:hover {
  color: #e0c8db;
}
.footer {
	padding: 10px;
	margin-top: 7px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	
	background-color: #f1f1f1;
	color: #9e9e9e;
	text-align: center;
	font-size: 11px;

	/**** for debugging purposes ****/
	border-style: solid;
	border-color: #7dc9c4;
	/********************************/
}

@media only screen and (max-width:800px) {
	/* tablet */
	.main {
		width: 80%;
		padding: 0;
	}
	.side_div {
		width: 100%;
	}
}
@media only screen and (max-width:500px) {
	/* mobile */
	.menu, .main, .side_div {
		width: 100%;
	}
}
@media screen and (max-height: 450px) {
	.side_div {padding-top: 15px;}
	.side_div a {font-size: 18px;}
}
