<!--===========================================================================+
| ♥ INDEX.EJS                                     Copyright (C) 2024 Eva Cihak |
|------------------------------------------------------------------------------|
| This program is free software and can be redistributed and/or adapted under  |
| the terms of the MIT License as published by the Massachusetts Institute of  |
| Technology (MIT). See LECENSE for additional details.                        |
+==============================================================================+
Last edit on 04/15/24
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home | Chunky Rat</title>
</head>

<body>
	<h1>Welcome!</h1>
	<p>This is the landing page.</p>
</body>

</html>